<dataTypes> 
  <dataType name="CreatedBy" />
  <dataType name="CreatedAt" />
  <dataType name="ChangedBy" />
  <dataType name="ChangedAt" />
  <!--If no typeName is present, Form and List uses the convention 
  "DotNetNuke.Modules.UserDefinedTable." + name 
  as TypeName.
  
  Example:
  <dataType name="CustomDT" typeName="MyCompany.Modules.FormAndList.CustomDT" /> 
  -->
  <!-- The typeName attribute would not be needed for "String" as it follows the convention -->
  <dataType name="String" />
  <dataType name="Int32" />
  <dataType name="Decimal" />
  <dataType name="DateTime" />
  <dataType name="Date" />
  <dataType name="Time" />
  <dataType name="Boolean" />
  <dataType name="EMail" />
  <dataType name="Currency" />
  <dataType name="URL" />
  <dataType name="Image" />
  <dataType name="TextHtml" />
  <dataType name="Download" />
  <dataType name="UserLink" />
  <dataType name="Separator" />
  <!--Please leave the following data types at the end of the list-->
  <dataType name="LookUp" />
  <dataType name="Expression" typeName="DotNetNuke.Modules.UserDefinedTable.DataTypes.DataTypeExpessionEmail"/>
</dataTypes>