<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetNuke.Abstractions" version="9.11.2" targetFramework="net472" />
  <package id="DotNetNuke.Core" version="9.11.2" targetFramework="net472" developmentDependency="true" />
  <package id="DotNetNuke.DependencyInjection" version="9.11.2" targetFramework="net472" />
  <package id="DotNetNuke.Instrumentation" version="9.11.2" targetFramework="net472" />
  <package id="DotNetNuke.Web" version="9.11.2" targetFramework="net472" developmentDependency="true" />
  <package id="DotNetNuke.Web.Client" version="9.11.2" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.9" targetFramework="net472" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.9" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.1.1" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.1" targetFramework="net472" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net451" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net472" developmentDependency="true" />
</packages>