<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetNuke.Core" version="8.0.4.226" targetFramework="net451" developmentDependency="true" />
  <package id="DotNetNuke.Web" version="8.0.4.226" targetFramework="net451" developmentDependency="true" />
  <package id="DotNetNuke.Web.Client" version="8.0.4.226" targetFramework="net451" developmentDependency="true"/>
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net451" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net451" developmentDependency="true" />
</packages>
