<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetNuke.Core" version="9.4.0" targetFramework="net451" developmentDependency="true" />
  <package id="DotNetNuke.Web" version="9.4.0" targetFramework="net451" developmentDependency="true" />
  <package id="DotNetNuke.Web.Client" version="9.4.0" targetFramework="net451" developmentDependency="true" />
  <package id="MSBuildTasks" version="1.5.0.235" targetFramework="net451" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net451" developmentDependency="true" />
</packages>